<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Class Room</title>
  <th:block th:include="/include/head"></th:block>
</head>

</head>
<body>
<th:block th:include="/include/header"></th:block>

<div class="container mt-5">
  <h1 class="text-center mb-4">Student List of <span th:text="${classRoom.class_name}"></span> </h1>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <button style="border: none; float: right;margin-bottom:10px" class="btn btn-primary"><a style="text-decoration: none; color: white; float: right;" href="/students/create">+ Create</a> </button>

    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Emaill</th>
      <th>Age</th>
      <th>Id Class</th>
      <th>Action</th>
      <!-- Add more columns as needed -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
      <td th:text="${student.id}"></td>
      <td th:text="${student.name}"></td>
      <td th:text="${student.email}"></td>
      <td th:text="${student.age}"></td>
      <td th:text="${student.classRoom.id_class}">

      <td>
        <a  th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-primary btn-sm">Edit</a>

        <a th:href="@{/students/delete/{id}(id=${student.id})}" class="btn btn-danger btn-sm">Delete</a>
      </td>

    </tr>
    </tbody>
  </table>
</div>

<th:block th:include="/include/footer"></th:block></head>
</body>
</html>