<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
    <th:block th:include="/include/head"></th:block></head>

</head>
<body>
<th:block th:include="/include/header"></th:block>

<div class="container mt-5">
    <h1 class="text-center mb-4">Add Student</h1>
    <form action="#" th:action="@{/students/create}" th:object="${student}" method="post">
        <div class="form-group">
            <label for="name">Class Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Enter  name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Enter Email">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" th:field="*{age}" class="form-control" id="age" placeholder="Enter Age">
        </div>
        <div class="form-group">
            <label for="idClass">Id Class</label>
            <input type="text" th:field="*{classRoom.id_class}" class="form-control" id="idClass" placeholder="Enter ID Class">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<th:block th:include="/include/footer"></th:block>
</body>
</html>