<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
    <th:block th:include="/include/head"></th:block></head>

</head>
<body>
<th:block th:include="/include/header"></th:block>

<div class="container mt-5">
    <h1 class="text-center mb-4">Edit Student</h1>
    <form action="#" th:action="@{/students/edit/{id}(id=${student.id})}" th:object="${student}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" th:field="*{email}" class="form-control" id="email" >
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" th:field="*{age}" class="form-control" id="age" >
        </div>
        <div class="form-group">
            <label for="idClass">Class</label>
            <select th:field="*{classRoom.id_class}" class="form-control" id="idClass">
                <option value="">Select Class</option>
                <option th:each="classRoom : ${classRooms}" th:value="${classRoom.id_class}" th:text="${classRoom.class_name}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<th:block th:include="/include/footer"></th:block>
</body>
</html>